*{
  box-sizing: border-box;
}

body{
  display: flex;
  margin: 0;
}

.fancy-part-container{
  flex: 2;
  height: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;


  background-image: url("./assets/halie-west-25xggax4bSA-unsplash.jpg");
  background-size: cover;
  
  color: white;

}
.logo-container{
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,.4);
  width:100%;
  height: 20%;
  margin-top: 12rem;

  color:white;
  font-size:6rem;

}
.logo{
  object-fit: fill;
  height: 90%;
}
.photo-credit-container{
  opacity: .8;
  padding: 1rem;
}

.form-container{
  flex: 3;
}
.real-form-container{
  margin: 2rem;
  margin-bottom: 1rem;
}

.preform-text{
  font-size: 1.7rem; 
  font-weight: 800;
  padding: 3rem 2rem;
  padding-top: 10rem;
  width: 85%;
}
.form-title{
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 1rem;
}
form{
  display:flex;
  flex-wrap: wrap;
}
.input-holder{
  display: flex;
  flex-direction: column;
  width: 35%;
  margin-right: 5rem;
  margin-bottom:1rem;
}
input{
  height: 2.5rem;
  width: 100%;
}
.shadow-line{
  height: 14px;
  width: 100%;
  box-shadow: 0 6px 6px -2px rgba(0, 0, 0, 0.2);
}

